image: docker:19.03.0
services:
  - docker:19.03-dind

cache:
  paths:
    - .yarn
    - node_modules/

stages:
  - test
  - build
  - docker
  - deploy

test:
  stage: test
  image: node:16.13-alpine
  variables:
    CI: "false"
  script:
    - yarn install --ignore-optional --frozen-lockfile --cache-folder .yarn
    - yarn run build
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "staging"'

# PROD PIPELINE #
build-prod:
  stage: build
  image: node:16.13-alpine
  variables:
    CI: "false"
    REACT_APP_HTTP_PROTOCOL: "https"
    REACT_APP_WS_PROTOCOL: "wss"
    REACT_APP_API_URL: "iseplife.fr/api"
  before_script:
    - SPA_VERSION=$(grep -m1 version package.json | awk -F\" '{ print $4 }')
  script:
    - yarn install --ignore-optional --frozen-lockfile --cache-folder .yarn
    - yarn run build
  artifacts:
    paths:
      - build/
  retry: 2
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
deploy-prod:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - aws s3 rm s3://iseplife.fr --recursive
    - aws s3 cp build/ s3://iseplife.fr --recursive
  dependencies:
    - build-prod
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'



# DEV PIPELINE #
build-dev:
  stage: build
  image: node:16.13-alpine
  variables:
    CI: "false"
    REACT_APP_HTTP_PROTOCOL: "https"
    REACT_APP_WS_PROTOCOL: "wss"
    REACT_APP_API_URL: "dev.iseplife.fr/api"
  before_script:
    - FRONT_VERSION=$(grep -m1 version package.json | awk -F\" '{ print $4 }')
  script:
    - yarn install --ignore-optional --frozen-lockfile --cache-folder .yarn
    - yarn run build:dev
  retry: 2
  artifacts:
    paths:
      - build/
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
docker-build:
  stage: docker
  before_script:
    - FRONT_VERSION=$(grep -m1 version package.json | awk -F\" '{ print $4 }')
    - docker login -u $DOCKER_LOGIN -p $DOCKER_TOKEN
  script:
    - docker build -t iseplife/front:$FRONT_VERSION -t iseplife/front:latest .
    - docker push iseplife/front:$FRONT_VERSION
    - docker push iseplife/front:latest
  dependencies:
    - build-dev
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'

deploy-dev:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - aws s3 rm s3://dev.iseplife.fr --recursive
    - aws s3 cp build/ s3://dev.iseplife.fr --recursive
  dependencies:
    - build-dev
  rules:
    - if: '$CI_COMMIT_REF_NAME == "staging"'


