@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DinotCB;
    src: url(../fonts/DINOT-CondBold.otf)
}
@font-face {
    font-family: DinotCL;
    src: url(../fonts/DINOT-CondLight.otf)
}

@font-face {
    font-family: DinotL;
    src: url(../fonts/DINOT-Light.otf)
}

@font-face {
    font-family: Dinot;
    src: url(../fonts/DINOT-Regular.otf)
}

@font-face {
    font-family: DinotM;
    src: url(../fonts/DINOT-Medium.otf)
}

.side-calendar {
    position: sticky;
    top: 1.25rem;
    border: none !important;
}

abbr[title] {
    text-decoration: none;
}

.event-scroller:before {
    content: '';
    top: 3rem;
    left: 0;
    height: 40px;
    right: 0;
    background: linear-gradient(to bottom, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);
    position: fixed;
}

.event-scroller:after {
    content: '';
    bottom: 0;
    left: 0;
    height: 80px;
    right: 0;
    background: linear-gradient(to top, rgba(251, 251, 251, 1) 10%, rgba(251, 251, 251, 0) 100%);
    position: fixed;
}


.ant-modal-content, .ant-modal-header{
    border-radius: 0.25rem !important;
}