.search-bar .ant-select-selection-placeholder {
    color: rgb(199, 210, 254);
}

.search-bar > .ant-select-selector {
    border-radius: 9999px !important;
    border: none !important;
    color: white !important;
    --bg-opacity: 1 !important;
    background-color: #7f9cf5 !important;
    background-color: rgba(127, 156, 245, var(--bg-opacity)) !important;
}

.pills:checked + .label-pills {
    background-color: #667eea !important;
    color: white !important;
}

.pills:checked + .label-pills:hover {
    background-color: #4c51bf !important;
    color: white !important;
}

.pills:checked + .label-pills:active {
    background-color: white !important;
    color: #667eea !important;
}