.pills:checked + .label-pills {
    background-color: #667eea !important;
    color: white !important;
}

.pills:checked + .label-pills:hover {
    background-color: #4c51bf !important;
    color: white !important;
}