.avatar-uploader div.ant-upload {
    height: 130px !important;
    width: 130px !important;
    overflow: hidden;
    border-radius: 9999px !important;
}

.avatar-squared div.ant-upload {
    height: 130px !important;
    width: 130px !important;
    overflow: hidden;
    border-radius: 0.25rem !important;
}

.cover-uploader div.ant-upload {
    margin-right: 0 !important;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
    border: none !important;
}

span.ant-upload {
    display: flex !important;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
}

