<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001463308502-3cbf8rd0he6bo2odp3mu42aa8kchd43e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001463308502-3cbf8rd0he6bo2odp3mu42aa8kchd43e</string>
	<key>API_KEY</key>
	<string>AIzaSyCckbx2lULJb8jIjp0vYwW4CYDH2nehQJg</string>
	<key>GCM_SENDER_ID</key>
	<string>1001463308502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.iseplive.iseplife</string>
	<key>PROJECT_ID</key>
	<string>isep-life</string>
	<key>STORAGE_BUCKET</key>
	<string>isep-life.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001463308502:ios:aaed138c4859755d902977</string>
</dict>
</plist>